
  <div class="content-body">
    <!-- Breadcrumb  -->
  <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>
    <!-- row -->
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="clearfix">
                    <div class="card card-bx profile-card author-profile m-b30">
                        <div class="card-body">
                            <div class="p-5">
                                <div class="author-profile">
                                    <div class="author-media">
                                      <img [src]="imagePreview || userProfileImage || defaultImage" alt="Profile Image">

                                        <div class="upload-link" title="update" data-toggle="tooltip" data-placement="right" data-original-title="update">
                                            <input type="file" class="update-flie" (change)="onFileSelected($event)">
                                            <i class="fa fa-camera"></i>
                                        </div>
                                    </div>
                                    <div class="author-info">
                                      <h6 class="title">{{ profileForm.value.name  || 'User' }}</h6>
                                        <span *ngIf="selectedRoles.data[0]">{{ selectedRoles.data[0].name || 'No Role' }}</span>



                                    </div>
                                </div>
                            </div>
                            <div class="info-list">
                                <ul>
                                    <!-- <li><a routerLink="/admin/app-profile">Models</a><span>36</span></li>
                                    <li><a routerLink="/admin/uc-light-gallery">Gallery</a><span>3</span></li>
                                    <li><a routerLink="/admin/app-profile">Lessons</a><span>1</span></li> -->

                                    <li (click)="showProjects = !showProjects" style="cursor: pointer;">
                                      <a>Projects</a>
                                      <span>{{ projects.length }}</span>
                                    </li>   

                                    
                                </ul>
                                <div class="accordion-body" *ngIf="showProjects">
                                  <ul *ngIf="projects.length > 0; else noProjects">
                                    <li *ngFor="let project of projects">
                                      <a href='/monitoring/projects'><strong>{{ project.projectName }}</strong><br></a>
                                      
                                    </li>
                                  </ul>
                                  <ng-template #noProjects>
                                    <p class="text-muted">This user has no projects jet.</p>
                                  </ng-template>
                                </div>
                            </div>
                            

                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="card profile-card card-bx m-b30">
                    <div class="card-header">
                        <h6 class="title">Account setup</h6>
                    </div>
                    <form class="profile-form"[formGroup]="profileForm" (ngSubmit)="submitForm()">
                        <div class="card-body">
                            <div class="row">
                              <div class="col-sm-6 m-b30">
                                <label class="form-label">Email address</label>
                                <input type="text" class="form-control" formControlName="email">


                                <div *ngIf="email?.touched || email?.dirty">
                                  <small class="text-danger" *ngIf="email?.hasError('required')">
                                    Email is required
                                  </small>
                                  <small class="text-danger" *ngIf="email?.hasError('email')">
                                    Enter a valid email
                                  </small>
                                  <small class="text-danger" *ngIf="email?.errors?.['emailExists'] && email?.touched" >
                                    This email is already registered. Try another one
                                  </small>

                                </div>
                              </div>

                                <div class="col-sm-6 m-b30">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" formControlName="name">
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <label class="form-label">Last name</label>
                                    <input type="text" class="form-control" formControlName="lastName">
                                </div>
                                <div class="col-sm-6 m-b30">
                                  <label class="form-label">Document Number</label>
                                  <input type="text" class="form-control" formControlName="documentNumber">
                                </div>
                                <div class="col-sm-6 m-b30">
                                  <label class="form-label">Phone</label>
                                  <input type="number" class="form-control" formControlName="phoneNumber">
                                </div>

                                <!-- <div class="col-sm-6 m-b30">
                                  <label class="form-label">Password</label>
                                  <input type="password" class="form-control" formControlName="password"
                                  (input)="password?.updateValueAndValidity()"
                                  >
                                  <div *ngIf="password?.touched || password?.dirty">
                                    <small class="text-danger" *ngIf="password?.hasError('required')">
                                      Password is required
                                    </small>
                                    <small class="text-danger" *ngIf="password?.hasError('pattern')">
                                      Password must have 8 to 16 characters, at least one capital letter, one number, and one special character (&#64;$!%*?&amp;#).
                                    </small>
                                  </div>
                                </div> -->

                                <div class="col-sm-6 m-b30">
                                  <label class="form-label">Roles</label>
                                  <mat-form-field class="full-width">
                                    <mat-label>Search and add roles</mat-label>
                                    <input
                                      type="text"
                                      matInput
                                      [formControl]="roleSearchCtrl"
                                      [matAutocomplete]="auto"
                                    >
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addRole($event.option.value)">
                                      <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
                                        {{ role.name }}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                </div>


                                <div class="col-12 m-b30">
                                  <table mat-table [dataSource]="selectedRoles" class="mat-elevation-z8 full-width">
                                    <ng-container matColumnDef="name">
                                      <th mat-header-cell *matHeaderCellDef> Rol </th>
                                      <td mat-cell *matCellDef="let role"> {{ role.name }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="description">
                                      <th mat-header-cell *matHeaderCellDef> Description </th>
                                      <td mat-cell *matCellDef="let role"> {{ role.description }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                      <th mat-header-cell *matHeaderCellDef> Actions </th>
                                      <td mat-cell *matCellDef="let role">
                                        <button mat-icon-button class="custom-delete-button"  (click)="removeRole(role)">
                                          <mat-icon>delete</mat-icon>
                                        </button>
                                      </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" [disabled]="profileForm.invalid || email?.errors?.['emailExists']">SAVE CHANGES</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
