<div class="content-body">
    <!-- Breadcrumb  -->
    <app-breadcrumb [breadcrumb]="breadcrumbList" [style2]="true"> </app-breadcrumb>

    <div class="container-fluid">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="heading mb-3">Role Settings</h4>
                <a *ngIf="isAdmin" class="btn btn-primary btn-sm mb-3" data-bs-toggle="offcanvas" href="javascript:vode(0);" (click)="toggleExample()">
                    + Add a role
                </a>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="card">
                    <div class="card-header py-3">
                    <h4 class="heading mb-0">Roles</h4>
                    </div>
                    <div class="card-body px-3 py-2">
                    
                    <input
                        type="text"
                        class="form-control form-control-sm mb-2"
                        placeholder="Buscar rol..."
                        [(ngModel)]="searchTerm"
                    />

                    <div style="max-height: 300px; overflow-y: auto;">
                        <ul class="personal-info mb-0">
                            <li *ngFor="let role of filteredRoles()" class="d-flex justify-content-between align-items-center mb-2">
                            <div class="d-flex align-items-center">
                                <a
                                href="javascript:void(0);"
                                (click)="selectRole(role.roleId)"
                                [class.fw-bold]="selectedRoleId === role.roleId"
                                class="text-decoration-none d-flex align-items-center"
                                >
                                <i class="fa-solid fa-briefcase text-primary me-2"></i>{{ role.name }}
                                </a>
                            </div>

                            <div class="d-flex gap-2">
                                <button class="btn btn-sm btn-warning px-2 py-1" (click)="editRole(role)">
                                <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-sm btn-danger px-2 py-1" (click)="deleteRole(role.roleId)">
                                <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            </li>
                        </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-8">
                <div class="row">
                    <div class="col-xl-12">
                    
                    <h4 class="heading mb-0">
                        <i class="fa-solid fa-user-plus text-primary me-2 mb-3"></i>
                        {{ getRoleNameById(selectedRoleId) || 'Usuarios por Rol' }} ({{ allData?.data?.totalElements || 0 }})
                    </h4>
                    <div class="card h-auto">
                        <div class="card-body p-0">
                        <div class="table-responsive active-projects dataTables_wrapper">
                            <table
                            matSort
                            
                            id="projects-tbl"
                            class="table"
                            >
                            <thead>
                                <tr>
                                <th mat-sort-header="name">Name</th>
                                <th mat-sort-header="lastName">LastName</th>
                                <th mat-sort-header="email">Email</th>
                                <th mat-sort-header="phoneNumber">Teléfono</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of allData?.data?.content; track item) {
                                <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.lastName }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.phoneNumber }}</td>
                                
                                </tr>
                                }
                            </tbody>
                            </table>

                            <div
                            class="dataTables_info"
                            id="example5_info"
                            role="status"
                            aria-live="polite"
                            >
                            Showing {{ page }} to {{ totalRows }} of {{ allData?.data?.totalElements || 0 }} entries
                            </div>

                            <div class="dataTables_paginate paging_simple_numbers pt-2">
                            <app-pagination
                                [totalPage]="totalPage"
                                [page]="page"
                                (newPage)="pageChange($event)"
                            ></app-pagination>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

        </div>

    </div>
</div>

<div class="offcanvas offcanvas-end customeoff {{ offcanvasExample?'show':''}}" tabindex="-1" id="offcanvasExample">
    <div class="offcanvas-header">
    <h5 class="modal-title" id="#gridSystemModal">
        {{ editingRoleId ? 'Edit Role' : 'Add a Role' }}
    </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="toggleExample()">
          <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="offcanvas-body">
      <form action="" id="roleForm" [formGroup]="roleForm" (ngSubmit)="submitForm()">
        <div class="container-fluid">
          <div class="col-xl-12 mb-3">
              <label  class="form-label font-w500">Role Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control"  placeholder="Enter Role Name" formControlName="name">
          </div>
          <div class="col-xl-12 mb-3">
            <label  class="form-label font-w500">Role Description<span class="text-danger">*</span></label>
            <input type="text" class="form-control"  placeholder="Enter Role Description" formControlName="description">
          </div>
            <!-- <h4 class="heading">User Access levels</h4> -->
            <!-- <div class="table-responsive">
               <table id="role" class="table role-tble">
                  <thead>
                      <tr>
                          <th>Entity</th>
                          <th class="text-end">Add</th>
                          <th class="text-end">Edit</th>
                          <th class="text-end">Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>User Management	</td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-primary">
                                  <input type="checkbox" class="form-check-input" id="customCheckBox4" required="">
                                  <label class="form-check-label" for="customCheckBox4">Add</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-warning">
                                  <input type="checkbox" class="form-check-input" checked="" id="customCheckBox5" required="">
                                  <label class="form-check-label" for="customCheckBox5">Edit</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-danger">
                                  <input type="checkbox" class="form-check-input" checked="" id="customCheckBox6" required="">
                                  <label class="form-check-label" for="customCheckBox6">Delete</label>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Release</td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-primary">
                                  <input type="checkbox" class="form-check-input"  id="customCheckBox7" required="">
                                  <label class="form-check-label" for="customCheckBox7">Add</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-warning">
                                  <input type="checkbox" class="form-check-input" id="customCheckBox8" required="">
                                  <label class="form-check-label" for="customCheckBox8">Edit</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-danger">
                                  <input type="checkbox" class="form-check-input" id="customCheckBox9" required="">
                                  <label class="form-check-label" for="customCheckBox9">Delete</label>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Content Management</td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-primary">
                                  <input type="checkbox" class="form-check-input"  id="customCheckBox10" required="">
                                  <label class="form-check-label" for="customCheckBox10">Add</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-warning">
                                  <input type="checkbox" class="form-check-input" checked="" id="customCheckBox11" required="">
                                  <label class="form-check-label" for="customCheckBox11">Edit</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-danger">
                                  <input type="checkbox" class="form-check-input" id="customCheckBox12" required="">
                                  <label class="form-check-label" for="customCheckBox12">Delete</label>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Libabry Management</td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-primary">
                                  <input type="checkbox" class="form-check-input" id="customCheckBox131" required="">
                                  <label class="form-check-label" for="customCheckBox131">Add</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-warning">
                                  <input type="checkbox" class="form-check-input" checked="" id="customCheckBox132" required="">
                                  <label class="form-check-label" for="customCheckBox132">Edit</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-danger">
                                  <input type="checkbox" class="form-check-input" checked="" id="customCheckBox13" required="">
                                  <label class="form-check-label" for="customCheckBox13">Delete</label>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Permissions for work items</td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-primary">
                                  <input type="checkbox" class="form-check-input" checked="" id="customCheckBox14" required="">
                                  <label class="form-check-label" for="customCheckBox14">Add</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-warning">
                                  <input type="checkbox" class="form-check-input"  id="customCheckBox15" required="">
                                  <label class="form-check-label" for="customCheckBox15">Edit</label>
                              </div>
                          </td>
                          <td>
                              <div class="form-check custom-checkbox checkbox-danger">
                                  <input type="checkbox" class="form-check-input" id="customCheckBox16" required="">
                                  <label class="form-check-label" for="customCheckBox16">Delete</label>
                              </div>
                          </td>
                      </tr>

                  </tbody>
               </table>
            </div> -->
              <div>
                  <a href="javascript:void(0)" class="btn btn-light btn-sm" >Discard</a>
                  <!-- <a href="javascript:void(0)" class="btn btn-primary btn-sm"  onclick="document.getElementById('roleForm').submit();">Save</a> -->
                  <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
          </div>
      </form>

    </div>
  </div>
  @if(offcanvasExample){
    <div class="offcanvas-backdrop fade show" (click)="toggleExample()"></div>
  }
