
    <div class="tab-content" id="tabContentMyProfileBottom">
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header">
              <h6 class="card-title">Basic Info Health Endpoint</h6>
            </div>
            <form action="#" class="mt-2" [formGroup]="healthForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <div class="row align-items-center mb-4">
                <div class="col-md-3">
                  <label class="form-label mb-md-0">Project ID<span class="text-danger ms-1">*</span></label>
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control" formControlName="projectId" placeholder="Enter project ID">
                </div>
              </div>

              <div class="row align-items-center mb-4">
                <div class="col-md-3">
                  <label class="form-label mb-md-0">Health Check URL<span class="text-danger ms-1">*</span></label>
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control" formControlName="url" placeholder="https://yourendpoint.com/health">
                </div>
              </div>

              <div class="row align-items-center mb-4">
                <div class="col-md-3">
                  <label class="form-label mb-md-0">Monitoring Interval(s)<span class="text-danger ms-1">*</span></label>
                </div>
                <div class="col-md-9">
                  <input type="number" class="form-control" formControlName="monitoringInterval" placeholder="e.g. 60">
                </div>
              </div>

              <div class="row align-items-center mb-4">
                <div class="col-md-3">
                  <label class="form-label mb-md-0">Notifications<span class="text-danger ms-1">*</span></label>
                </div>
                <div class="col-md-9">
                  <div class="form-check custom-checkbox me-4 mb-0 d-inline-block">
                    <input type="checkbox" class="form-check-input" id="notifEmail" formControlName="notificationsEnabled">
                    <label class="form-check-label" for="notifEmail">Enabled</label>
                  </div>
                </div>
              </div>

              <div class="row align-items-center mb-3">
                <div class="col-md-3">
                  <label class="form-label mb-md-0">Active <span class="text-danger ms-1">*</span></label>
                </div>
                <div class="col-md-9">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="activeSwitch" formControlName="active">
                  </div>
                </div>
              </div>
            </div>
              <div class="card-footer text-end">
                <button type="button" class="btn btn-white me-1" (click)="healthForm.reset()">Discard</button>
                <button type="submit" class="btn btn-primary ms-2">Save Changes</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="heading mb-0">Notifications</h4>
                </div>
                <form [formGroup]="notificationForm" (ngSubmit)="onSubmitNotificationForm()" class="mt-2">
                <div class="card-body">
                    <div class="clearfix border-bottom border-light py-3" *ngFor="let event of endpointEvents">
                      <div class="row align-items-center">
                        <div class="col-sm-6">
                          <label class="form-label mb-md-0">{{ event.label }}</label>
                        </div>
                        <div class="col-sm-3 col-6">
                          <div class="form-check custom-checkbox me-4 mb-0 d-inline-block">
                            <input type="checkbox" class="form-check-input mb-0" [formControlName]="event.key + 'Email'" />
                            <label class="form-check-label mb-0">Email</label>
                          </div>
                        </div>
                        <div class="col-sm-3 col-6">
                          <div class="form-check custom-checkbox me-4 mb-0 d-inline-block">
                            <input type="checkbox" class="form-check-input mb-0" [formControlName]="event.key + 'Phone'" />
                            <label class="form-check-label mb-0">Phone</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-footer text-end ">
                      <button type="button" class="btn btn-white me-1" (click)="onReset()">Discard</button>
                      <button type="submit" class="btn btn-primary ms-2" [disabled]="!notificationForm.valid">Save Changes</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
