
    <div class="tab-content" id="tabContentMyProfileBottom">
      <div class="row">
        <div class="col-xl-5">
          <div class="card">
            <div class="card-header py-3">
              <h6 class="card-title">Project Details</h6>
              <a href="javascript:void(0);" class="btn btn-sm btn-primary">Edit Profile</a>
            </div>
            <div class="card-body">
              <div class="row py-2">
                <div class="col-6">
                  <span class="fs-13">Project Id </span>
                </div>
                <div class="col-6">
                  <span class="fs-13 text-secondary fw-semibold">{{project.projectId}} </span>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-6">
                  <span class="fs-13">Project Description</span>
                </div>
                <div class="col-6">
                  <span class="fs-13 text-secondary fw-semibold">{{project.projectDescription}} </span>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-6">
                  <span class="fs-13">Contact Phone</span>
                </div>
                <div class="col-6">
                  <span class="fs-13 text-secondary fw-semibold">123 456 7890</span>
                </div>
              </div>

              <div class="row py-2">
                <div class="col-6">
                  <span class="fs-13">Country</span>
                </div>
                <div class="col-6">
                  <span class="fs-13 text-secondary fw-semibold">Colombia</span>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-6">
                  <span class="fs-13">Notifications</span>
                </div>
                <div class="col-6">
                  <span class="fs-13 text-secondary fw-semibold">Email</span>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-6">
                  <span class="fs-13">Allow Changes</span>
                </div>
                <div class="col-6">
                  <span class="fs-13 text-secondary fw-semibold">Yes</span>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card">
            <div class="card-header pb-0 border-0">
              <div class="clearfix">
                <h4 class="card-title mb-0">Project's Users </h4>
                <small class="d-block">{{project.responsibleUserIds.length}} Users</small>
              </div>
              <div class="clearfix ms-auto">
                <button type="button" class="btn btn-light btn-icon-xxs tp-btn fs-18 align-self-start">
                  <i class="ti-view-grid"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div
                *ngFor="let user of responsibleUsers"
                class="d-flex align-items-center py-2 hover-bg-light rounded my-1"
              >
                <div
                  class="avatar avatar-md border border-secondary border-opacity-10 rounded d-flex align-items-center justify-content-center bg-white"
                >
                  <img [src]="user.userImage || defaultImage " alt="{{ user.name }}" width="40" height="40" />

                </div>
                <div class="clearfix ms-3">
                  <h6 class="mb-0 fw-semibold">{{ user.name }}</h6>
                  <span class="fs-13">{{ user.email }}</span>
                </div>
              </div>


            </div>

          </div>
        </div>

        <div class="col-xl-5">
          <div class="card">
            <div class="card-header pb-0 border-0">
              <div class="clearfix">
                <h4 class="card-title mb-0">Top endpoints</h4>
                <small class="d-block">7 Category</small>
              </div>
            </div>
            <div class="card-body pt-1">
              <div class="row align-items-center">
                <div class="col-sm-6 mb-3">
                  <!-- <app-bar-chart-apex [chart_item]="chartTopSelling" class="d-flex justify-content-center"></app-bar-chart-apex> -->
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-black">
                      <i class="fa-solid fa-square text-primary me-1"></i> Laptop
                    </div>
                    <span>20</span>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-black">
                      <i class="fa-solid fa-square text-success me-1"></i> Phone
                    </div>
                    <span>05</span>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-black">
                      <i class="fa-solid fa-square text-danger me-1"></i> Keyboard
                    </div>
                    <span>05</span>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-black">
                      <i class="fa-solid fa-square text-warning me-1"></i> Mouse
                    </div>
                    <span>20</span>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-black">
                      <i class="fa-solid fa-square text-purple me-1"></i> Monitors
                    </div>
                    <span>21</span>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-black">
                      <i class="fa-solid fa-square text-dark me-1"></i> Watch
                    </div>
                    <span>04</span>
                  </div>
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-black">
                      <i class="fa-solid fa-square me-1"></i> Earbuds
                    </div>
                    <span>25</span>
                  </div>
                </div>
              </div>
              <div class="alert alert-outline-light outline-dashed p-3 d-sm-flex align-items-center justify-content-between mb-0">
                <p class="mb-0">Category report for a company's quarterly sales performance</p>
                <div class="clearfix w-100 ms-auto text-sm-end mt-2 mt-sm-0">
                  <a href="javascript:void(0);" class="btn btn-primary">Download Report</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-7">
          <div class="card">
            <div class="card-header border-0 py-3">
              <h4 class="heading mb-0">Stock Report</h4>
              <div class="clearfix">
                <app-dropdown [dropdown]="dropdown_item" class="mb-2 me-1"></app-dropdown>
                <button type="button" class="btn btn-sm btn-primary ms-2">View All</button>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table mb-1 table-striped-thead table-wide table-md table-border-last-0">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th class="text-nowrap">Product Id</th>
                      <th class="text-nowrap">Date Added</th>
                      <th>Status</th>
                      <th>Price</th>
                      <th class="text-end">Qty</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-nowrap">AudioEngine HD3</td>
                      <td class="text-nowrap">#PXF-578</td>
                      <td class="text-nowrap">Nov 01, 2024</td>
                      <td>
                        <span class="badge badge-sm badge-success light border-0">In Stock</span>
                      </td>
                      <td>$1,120</td>
                      <td class="text-end text-nowrap">58 PCS</td>
                    </tr>
                    <tr>
                      <td>Google Pixel 6 Pro</td>
                      <td>#XGY-356</td>
                      <td>Sep 27, 2024</td>
                      <td>
                        <span class="badge badge-sm badge-danger light border-0">Out of Stock</span>
                      </td>
                      <td>$440</td>
                      <td class="text-end">14 PCS</td>
                    </tr>
                    <tr>
                      <td class="text-nowrap">Dell 32 UltraSharp</td>
                      <td class="text-nowrap">#SRR-678</td>
                      <td class="text-nowrap">Jul 09, 2024</td>
                      <td>
                        <span class="badge badge-sm badge-danger light border-0">Out of Stock</span>
                      </td>
                      <td>$4,720</td>
                      <td class="text-end">58 PCS</td>
                    </tr>
                    <tr>
                      <td>Google Pixel 6 Pro</td>
                      <td class="text-nowrap">#XGY-356</td>
                      <td>May 14, 2024</td>
                      <td>
                        <span class="badge badge-sm badge-success light border-0">In Stock</span>
                      </td>
                      <td>$120</td>
                      <td class="text-end">11 PCS</td>
                    </tr>
                    <tr>
                      <td>AudioEngine HD3</td>
                      <td>#XGY-356</td>
                      <td class="text-nowrap">Dec 30, 2024</td>
                      <td>
                        <span class="badge badge-sm badge-success light border-0">In Stock</span>
                      </td>
                      <td>$503</td>
                      <td class="text-end">58 PCS</td>
                    </tr>
                    <tr>
                      <td>Google Pixel 6 Pro</td>
                      <td>#SRR-678</td>
                      <td>Oct 25, 2024</td>
                      <td>
                        <span class="badge badge-sm badge-danger light border-0">Out of Stock</span>
                      </td>
                      <td>$102</td>
                      <td class="text-end text-nowrap">96 PCS</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
